.table-component {
  display: flex;
  margin: 10px;
  padding: 10px;
  height: 80vh;
  flex-direction: column;
  gap: 10px;
}

.search-input {
  float: right;
  margin-right: 10px;
}

.search-icon {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
}

.info-icon {
  float: right;
  margin-top: 2px;
}

.table-container {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  height: 50px;
  min-width: 100px;
  max-width: 200px;
  text-align: start;
  padding: 0 10px;
}

.cell-content {
  height: 100%;
  max-width: 200px;
  overflow-y: auto;
}

.loading,
.no-results {
  font-size: 25px;
  font-weight: 700;
  margin-top: 10%;
  text-align: center;
}


@media screen and (max-width: 600px) {

  th,
  td {
    padding: 5px;
    font-size: 12px;
  }

  .table-component {
    height: 75vh;
  }
}